@import url("https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css");

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn-custom {
  background-color: rgb(92, 80, 202);
  color: white;
}
